.mothercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    margin-top: 2ch;
    margin-left: 2ch;
}

input[type=button]{
    padding-left: 2ch;
    padding-right: 2ch;
    margin-right: 1ch;
}

.memory{
align-items:center ;
}
