<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <style>
			html {
				font-family: sans-serif;
			}
    </style>
</head>
<body>

    <div class='input'>
        <form id="event-form" >
            <input type="text" name="name" id='name'> 
            <input type="date" name="date" id='date'>
            <input type='time' name='time' id='time'>
            <input type="button" value='Create event' onClick='send()'>
        </form>    
    </div>
    <div>
        <input type='button' value="DELETE EVERYTHING" onClick='clearCookies()'>
    </div>
    <div class='output'>
        <p><%= error%></p>
        <ul style='list-style-type:none;padding:0'>
            <% events.forEach(element => {%>
            <li>
                <h2><%= element.event %></h2>
                <p> <%= element.text %> </p>
            </li>
            <%})%> 
        </ul>
    </div>


    <script>

         async function send(){
         
            const url = 'http://localhost:3000/events'

            //Collect form data
            const inputName = document.getElementById('name').value;
            const inputDate = document.getElementById('date').value;
            const inputTime = document.getElementById('time').value;
            const response = await fetch(url, {
                method: 'POST',
                headers: {'Content-type' : 'application/x-www-form-urlencoded; charset=UTF-8'},
                body: new URLSearchParams({
                    name : inputName,
                    date : inputDate,
                    time : inputTime,
                })
            })
        
        }

        async function clearCookies(){
            await fetch('http://localhost:3000/reset')
            console.log('Cookies cleared');        }
    </script>
</body>
</html>
